.login-card {
    background: #111;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 350px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #191a19;
    border: 1px solid #fbff00;
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.logo {
    color: #ffe600;
    font-size: 2.5rem;
  letter-spacing: 5px;
}

footer a {
    color: #888;
    font-size: 0.8rem;
    text-decoration: none;
    display: block;
    margin-top: 15px;
}
/* Asegura que la sección de autenticación sea una columna */
#auth-section {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre el correo, la clave y el botón */
    width: 100%;
    align-items: center;
}

/* Estilo para los inputs para que no se encojan */
.input-field {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: white;
    box-sizing: border-box; /* Muy importante para que el padding no rompa el ancho */
}

/* Estilo para el botón Entrar */
#btnLogin {
    width: 100%;
    padding: 12px;
    background-color: #f39c12; /* El color amarillo/dorado de REVOLT */
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#btnLogin:hover {
    background-color: #e67e22;
}